footer {
    background-color: $black;
    color: $white;
    padding: 42px 0;

    h2 {
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    .container {
        align-items: center;
    }
}