@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.btn, input[type=button], button {
  border: none;
  background-color: transparent;
  padding: 0;
}

input[type=text], input[type=password] {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  background-color: #F7F7F7;
}

a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #202020;
  transition: 0.4s;
  cursor: pointer;
}
a:hover {
  color: #FF3D00;
  transition: 0.4s;
}

form {
  background-color: #FFFFFF;
  padding: 15px 20px 25px 20px;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
}
form h1 {
  text-align: center;
  margin-bottom: 26px;
}
form input {
  margin-bottom: 13px;
}

.options {
  border: 1px solid #E3E3E3;
  border-radius: 6px;
}

input[type=text], input[type=password], .select {
  margin-left: -11px;
  width: 100%;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 7px 11px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
}

input[type=text]:placeholder-shown, input[type=password]:placeholder-shown, .select {
  color: #808080;
}

.select {
  cursor: pointer;
}
.select.active {
  color: #202020;
}

.form-container {
  margin: 0 11px;
}

.btn, input[type=button] {
  width: 100%;
  border: 1px solid #FF3D00;
  color: #FF3D00;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.second, input[type=button].second {
  width: 100%;
  border: 1px solid #0085FF;
  color: #0085FF;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.second:hover, input[type=button].second:hover {
  background-color: #0085FF;
  color: #FFFFFF;
}
.btn:hover, input[type=button]:hover {
  background-color: #FF3D00;
  color: #FFFFFF;
}
.btn.close, input[type=button].close {
  width: 100%;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.close:hover, input[type=button].close:hover {
  background-color: #808080;
  color: #FFFFFF;
}
.btn.reverse, input[type=button].reverse {
  width: 100%;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.reverse:hover, input[type=button].reverse:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
  color: #0085FF;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
  font-weight: 900;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
}
p.context {
  font-size: 10px;
}

.cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.cover img, .cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cover.rectangle {
  width: 100%;
  padding-top: 64.4567219153%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: #202020;
  transition: 0.4s;
}
svg:hover {
  transition: 0.4s;
  fill: #FF3D00;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.card-content {
  padding: 10px;
}

section {
  margin-bottom: 80px;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.counter {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}
.counter .item {
  padding: 10px;
}
.counter .item.count {
  border: none;
  color: #808080;
  transition: 0.4s;
  cursor: pointer;
}
.counter .item.count:hover {
  background-color: #FF3D00;
  color: #FFFFFF;
  transition: 0.4s;
}
.counter .item.count:hover:first-child {
  border-radius: 5px 0 0 5px;
}
.counter .item.count:hover:last-child {
  border-radius: 0 5px 5px 0;
}

.ellipse-container {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-container .ellipse {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #0085FF;
  transition: 0.4s;
  cursor: pointer;
}
.ellipse-container .ellipse.active {
  transition: 0.4s;
  width: 10px;
  height: 10px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.ellipse-container .ellipse.black {
  background-color: #202020;
}
.ellipse-container .ellipse.pink {
  background-color: #EF5DA8;
}
.ellipse-container .ellipse.main {
  background-color: #FF3D00;
  padding: 0;
}
.ellipse-container .ellipse.second {
  background-color: #0085FF;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #FF3D00;
  margin-right: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.checkbox.active {
  background-color: #FF3D00;
  transition: 0.4s;
}
.checkbox.active .ellipse {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form {
  display: none;
}
.login form.open {
  display: block;
}

.auth {
  width: 30%;
  margin: 0 auto;
}
.auth .btn {
  padding: 10px 0;
}
.auth p {
  text-align: center;
}

header {
  padding: 20px 0;
}
header .burger-menu {
  display: none;
}
header .container {
  align-items: center;
}
header .logo {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  user-select: none;
}
header .logo .ellipse.active {
  width: 5px;
  height: 5px;
  background-color: #FF3D00;
  border-radius: 10px;
}
header .navigate {
  display: flex;
  align-items: center;
}
header .navigate svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
header .navigate svg:first-child {
  margin: 0 20px;
}
header .navigate .nav-links {
  padding: 10px 0;
  border-right: 1px solid #E3E3E3;
}
header .navigate .nav-links a {
  text-transform: uppercase;
  margin-right: 20px;
}

.main {
  background-color: #FF3D00;
  color: #FFFFFF;
  padding-top: 30%;
  position: relative;
}
.main .container {
  height: 100%;
}
.main .container .info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.main .container .info h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.main .container .info .btn:hover {
  color: #202020;
}
.main .container .pic {
  width: 50%;
}
.main .container .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}
.main-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .wrapper {
  height: 100%;
}

.category .container .item {
  width: 32%;
}
.category .container .item .cover-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.category .container .item .cover-container:hover {
  background: #FF3D00;
  transition: 0.7s;
  cursor: pointer;
}
.category .container .item .first {
  background: url("../img/category/cat_clother_4.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .second {
  background: url("../img/category/cat_clother_2.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .three {
  background: url("../img/category/cat_clother_1.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .four {
  background: url("../img/category/cat_clother_3.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .five {
  background: url("../img/category/cat_clother_5.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container:first-child {
  margin-bottom: 2%;
}
.category .container:first-child .item:first-child {
  width: 66%;
}
.category .container:first-child .item:first-child .cover {
  padding-top: 48.5%;
}
.category .wrapper {
  width: 60%;
}

.cards .container {
  flex-wrap: wrap;
}
.cards .title {
  margin-bottom: 20px;
}
.cards .card {
  width: 32%;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 50px;
}
.cards .cover {
  background-color: #E3E3E3;
}
.cards .cover img {
  z-index: 150;
}
.cards .cover .ellipse {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.cards h2 {
  margin: 20px 0;
  text-align: center;
}
.cards p {
  font-size: 18px;
  text-align: center;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF3D00;
  padding: 30px 0;
  text-transform: uppercase;
}
.page-title a:hover {
  color: #FFFFFF;
}
.page-title-container {
  margin-top: 10px;
  display: flex;
}
.page-title span {
  margin: 0 10px;
  font-family: "Montserrat";
  font-weight: 700;
}

.fullpage {
  display: none;
}
.fullpage.open {
  display: inline;
}

form.order {
  margin-bottom: 80px;
}
form.order label input {
  margin-bottom: 30px;
}
form.order h3 {
  margin-left: -8px;
}
form.order .location label {
  width: 30%;
}

.pay-container {
  width: 40%;
  flex-direction: column;
}
.pay-container label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.pay .container {
  align-items: flex-start;
}
.pay .total .card {
  width: auto;
  min-height: 190px;
}

.total {
  display: flex;
  justify-content: flex-end;
}
.total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}
.total .pay-btn {
  margin-top: 25px;
  width: 40%;
}
.total .card {
  width: 100%;
  padding: 20px;
}
.total .card h1 {
  margin-bottom: 20px;
}
.total .card .container {
  margin-bottom: 20px;
}
.total .card .container:last-child {
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px solid #E3E3E3;
}
.total .pay-container-btn {
  display: flex;
  justify-content: flex-end;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  animation-fill-mode: forwards;
  animation-name: openModal;
  animation-duration: 0.4s;
}
.modal-container {
  padding: 20px 10px;
  border-radius: 10px;
  width: 30%;
  background-color: #FFFFFF;
}
.modal-container h1, .modal-container p {
  margin-bottom: 20px;
}
.modal-container .btn, .modal-container input[type=button] {
  padding: 10px 0;
  width: 48%;
}
.modal-container .modal-close {
  height: fit-content;
  cursor: pointer;
  transition: 0.4s;
}
.modal-container .modal-close:hover {
  color: #FF3D00;
  transition: 0.4s;
}

@keyframes openModal {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes closeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.sort.container {
  width: 50%;
  margin-bottom: 20px;
}
.sort.container .btn {
  width: 32%;
}

.product .cover {
  margin-bottom: 3%;
  background-color: #E3E3E3;
}
.product-container:first-child {
  width: 40%;
}
.product-container:last-child {
  width: 55%;
}
.product-container .detail {
  width: 31%;
}
.product-container h1.price {
  color: #FF3D00;
}
.product-container.info .description {
  margin: 20px 0;
}
.product-container.info .detail {
  width: 100%;
}
.product-container.info .detail .characteristics {
  width: 48%;
  display: flex;
  align-items: center;
}
.product-container.info .detail .characteristics h3 {
  margin-right: 15px;
}
.product-container.info .detail .characteristics .size-list {
  display: flex;
}
.product-container.info .detail .characteristics .size-list p {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  color: #E3E3E3;
  transition: 0.4s;
}
.product-container.info .detail .characteristics .size-list p:hover, .product-container.info .detail .characteristics .size-list p.active {
  color: #202020;
  transition: 0.4s;
  border-bottom: 1px solid #202020;
}
.product-container.info .detail .characteristics .color {
  align-items: center;
}
.product-container.info .detail .characteristics .ellipse-container {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #0085FF;
  transition: 0.4s;
  cursor: pointer;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse:hover, .product-container.info .detail .characteristics .ellipse-container .ellipse.active {
  transition: 0.4s;
  width: 10px;
  height: 10px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.black {
  background-color: #202020;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.pink {
  background-color: #EF5DA8;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.main {
  background-color: #FF3D00;
  padding: 0;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.second {
  background-color: #0085FF;
}
.product-container.info .card {
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
}
.product-container.info .card-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.product-container.info .card .buttons {
  display: flex;
  justify-content: flex-end;
}
.product-container.info .card .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.product-container.info .card .buttons-container .button-box {
  width: 48%;
}
.product-container.info .card .buttons-container .button-box .btn {
  border: 1px solid #FF3D00;
  padding: 10px 0;
}

section.description {
  padding: 40px 0;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}
section.description .desc-container {
  width: 60%;
  margin: 0 auto;
}
section.description .desc-container .container {
  width: 50%;
  margin: 0 auto;
}
section.description .desc-container .container .tab {
  cursor: pointer;
  transition: 0.4s;
}
section.description .desc-container .container .tab:hover, section.description .desc-container .container .tab.active {
  color: #FF3D00;
  transition: 0.4s;
}
section.description .desc-container .content .tab-content {
  display: none;
  text-align: center;
}
section.description .desc-container .content .tab-content.active {
  margin-top: 20px;
  display: block;
}

.basket {
  border: 1px solid #E3E3E3;
}
.basket .counter {
  width: 50%;
  justify-content: space-between;
  margin: 0;
}
.basket-card {
  display: flex;
  padding: 20px 0;
}
.basket-card .card-item:first-child {
  width: 50%;
}
.basket-card .card-item:nth-child(2) {
  width: 10%;
}
.basket-card .card-item:nth-child(3) {
  width: 20%;
}
.basket-card .card-item:nth-child(4) {
  width: 10%;
}
.basket-card .card-item:last-child {
  width: 10%;
}
.basket-card.title {
  border-bottom: 1px solid #E3E3E3;
}
.basket-card.title .card-item:first-child {
  text-align: center;
}
.basket-card.content {
  align-items: center;
}
.basket-card.content .card-item:first-child {
  display: flex;
  align-items: center;
}
.basket-card.content .card-item:last-child {
  cursor: pointer;
  transition: 0.4s;
}
.basket-card.content .card-item:last-child:hover {
  color: #FF3D00;
  transition: 0.4s;
}
.basket-card.content .card-item-cover {
  width: 15%;
  background-color: #E3E3E3;
  padding: 20px 0;
  margin-left: 20px;
}
.basket-card.content .card-item-desc {
  margin-left: 20px;
}
.basket-card.content .card-item-desc .ellipse-container {
  margin-right: 5px;
}
.basket-card.content .card-item-desc .desc {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin .btn.second {
  width: 73%;
  margin: 20px 0;
}
.admin .panel-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 10px;
  border: 2px solid #E3E3E3;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
}
.admin .panel-add h3 {
  margin-bottom: 10px;
}
.admin .panel-add .container {
  align-items: center;
  width: 70%;
  margin-bottom: 20px;
}
.admin .panel-add .add {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #E3E3E3;
  transition: 0.4s;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
}
.admin .panel-add .add:hover {
  transition: 0.4s;
  background-color: #FF3D00;
  color: #FFFFFF;
}
.admin .panel-add h1 {
  margin-bottom: 10px;
}
.admin .panel-add:first-child {
  margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
  .product-container.info .card .buttons-container {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .main .container .info {
    width: 50%;
    margin-bottom: 0;
  }
  .main .container .info h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .sort.container {
    width: 100%;
  }

  .category .wrapper {
    width: 90%;
  }

  .nav-links {
    display: none;
    z-index: 500;
    background-color: #0085FF;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: openBurger;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
  .nav-links.mobile {
    display: flex;
  }
  .nav-links a {
    padding: 10px 0;
    color: #FFFFFF;
  }
  @keyframes openBurger {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes closeBurger {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  header .container {
    position: relative;
  }
  header .burger-menu {
    display: block;
    cursor: pointer;
  }
  header .burger-menu .line {
    height: 2px;
    width: 20px;
    background-color: #202020;
    margin-bottom: 3px;
  }
  header .burger-menu .line:last-child {
    margin-bottom: 0px;
  }
  header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container .detail {
    flex-direction: column;
  }
  .container .detail .characteristics {
    margin-bottom: 10px;
  }

  .product-container.info .card .buttons-container {
    flex-direction: column;
    width: 100%;
  }
  .product-container.info .card .buttons-container .button-box {
    width: 100%;
    margin-bottom: 15px;
  }

  section.description .desc-container .container {
    width: 100%;
  }

  .total-container {
    width: 100%;
  }

  .total .card {
    width: 80%;
  }

  .total-container {
    align-items: center;
  }
}
@media only screen and (max-width: 550px) {
  .main .container .info h1 {
    font-size: 1em;
  }

  .cards .card {
    width: 48%;
  }

  .product .container.mobile {
    flex-direction: column;
  }
  .product-container {
    width: 100% !important;
  }
  .product-container:last-child {
    margin-top: 20px;
  }

  .total .card {
    width: 80%;
  }

  .total-container {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
