@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.btn, input[type=button] {
  border: none;
  background-color: transparent;
  padding: 0;
}

input[type=text], input[type=password] {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  background-color: #F7F7F7;
}

a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #202020;
  transition: 0.4s;
}
a:hover {
  color: #FF3D00;
  transition: 0.4s;
}

form {
  background-color: #FFFFFF;
  padding: 15px 20px 25px 20px;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
}
form h1 {
  text-align: center;
  margin-bottom: 26px;
}
form input {
  margin-bottom: 13px;
}

.options {
  border: 1px solid #E3E3E3;
  border-radius: 6px;
}

input[type=text], input[type=password], .select {
  margin-left: -11px;
  width: 100%;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 7px 11px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
}

input[type=text]:placeholder-shown, input[type=password]:placeholder-shown, .select {
  color: #808080;
}

.select {
  cursor: pointer;
}
.select.active {
  color: #202020;
}

.form-container {
  margin: 0 11px;
}

.btn {
  width: 100%;
  border: 1px solid #FF3D00;
  color: #FF3D00;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.second {
  width: 100%;
  border: 1px solid #0085FF;
  color: #0085FF;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.second:hover {
  background-color: #0085FF;
  color: #FFFFFF;
}
.btn:hover {
  background-color: #FF3D00;
  color: #FFFFFF;
}
.btn.reverse {
  width: 100%;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.4s;
  cursor: pointer;
}
.btn.reverse:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
  color: #0085FF;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
  font-weight: 900;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
}
p.context {
  font-size: 10px;
}

.cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.cover img, .cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cover.rectangle {
  width: 100%;
  padding-top: 64.4567219153%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: #202020;
  transition: 0.4s;
}
svg:hover {
  transition: 0.4s;
  fill: #FF3D00;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.card-content {
  padding: 10px;
}

section {
  margin-bottom: 80px;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

header {
  padding: 20px 0;
}
header .container {
  align-items: center;
}
header .logo {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
}
header .logo .ellipse.active {
  width: 5px;
  height: 5px;
  background-color: #FF3D00;
  border-radius: 10px;
}
header .navigate {
  display: flex;
  align-items: center;
}
header .navigate svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
header .navigate svg:first-child {
  margin: 0 20px;
}
header .navigate .nav-links {
  padding: 10px 0;
  border-right: 1px solid #E3E3E3;
}
header .navigate .nav-links a {
  text-transform: uppercase;
  margin-right: 20px;
}

.main {
  background-color: #FF3D00;
  color: #FFFFFF;
  padding-top: 30%;
  position: relative;
}
.main .container {
  height: 100%;
}
.main .container .info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.main .container .info h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.main .container .info .btn:hover {
  color: #202020;
}
.main .container .pic {
  width: 50%;
}
.main .container .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}
.main-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .wrapper {
  height: 100%;
}

.category .container .item {
  width: 32%;
}
.category .container .item .cover-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.category .container .item .cover-container:hover {
  background: #FF3D00;
  transition: 0.7s;
  cursor: pointer;
}
.category .container .item .first {
  background: url("../img/category/cat_clother_4.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .second {
  background: url("../img/category/cat_clother_2.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .three {
  background: url("../img/category/cat_clother_1.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .four {
  background: url("../img/category/cat_clother_3.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container .item .five {
  background: url("../img/category/cat_clother_5.jpg");
  background-size: 100% 100%;
  background-color: #202020;
}
.category .container:first-child {
  margin-bottom: 2%;
}
.category .container:first-child .item:first-child {
  width: 66%;
}
.category .container:first-child .item:first-child .cover {
  padding-top: 48.5%;
}
.category .wrapper {
  width: 60%;
}

.cards .container {
  flex-wrap: wrap;
}
.cards .title {
  margin-bottom: 20px;
}
.cards .card {
  width: 32%;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 50px;
}
.cards .cover {
  background-color: #E3E3E3;
}
.cards .cover img {
  z-index: 150;
}
.cards .cover .ellipse {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.cards h2 {
  margin: 20px 0;
  text-align: center;
}
.cards p {
  font-size: 18px;
  text-align: center;
}

.product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF3D00;
  padding: 30px 0;
  text-transform: uppercase;
}
.product-title a:hover {
  color: #FFFFFF;
}
.product-title-container {
  margin-top: 10px;
  display: flex;
}
.product-title span {
  margin: 0 10px;
  font-family: "Montserrat";
  font-weight: 700;
}

.product .cover {
  margin-bottom: 3%;
  background-color: #E3E3E3;
}
.product-container:first-child {
  width: 40%;
}
.product-container:last-child {
  width: 55%;
}
.product-container .detail {
  width: 31%;
}
.product-container h1.price {
  color: #FF3D00;
}
.product-container.info .description {
  margin: 20px 0;
}
.product-container.info .detail {
  width: 100%;
}
.product-container.info .detail .characteristics {
  width: 48%;
  display: flex;
  align-items: center;
}
.product-container.info .detail .characteristics h3 {
  margin-right: 15px;
}
.product-container.info .detail .characteristics .size-list {
  display: flex;
}
.product-container.info .detail .characteristics .size-list p {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  color: #E3E3E3;
  transition: 0.4s;
}
.product-container.info .detail .characteristics .size-list p:hover, .product-container.info .detail .characteristics .size-list p.active {
  color: #202020;
  transition: 0.4s;
  border-bottom: 1px solid #202020;
}
.product-container.info .detail .characteristics .color {
  align-items: center;
}
.product-container.info .detail .characteristics .ellipse-container {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #0085FF;
  transition: 0.4s;
  cursor: pointer;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.active {
  transition: 0.4s;
  width: 10px;
  height: 10px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.black {
  background-color: #202020;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.pink {
  background-color: #EF5DA8;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.main {
  background-color: #FF3D00;
  padding: 0;
}
.product-container.info .detail .characteristics .ellipse-container .ellipse.second {
  background-color: #0085FF;
}
.product-container.info .card {
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
}
.product-container.info .card-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.product-container.info .card-container .counter {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}
.product-container.info .card-container .counter .item {
  padding: 10px;
}
.product-container.info .card-container .counter .item.count {
  transition: 0.4s;
  cursor: pointer;
}
.product-container.info .card-container .counter .item.count:hover {
  background-color: #FF3D00;
  color: #FFFFFF;
  transition: 0.4s;
}
.product-container.info .card-container .counter .item.count:hover:first-child {
  border-radius: 5px 0 0 5px;
}
.product-container.info .card-container .counter .item.count:hover:last-child {
  border-radius: 0 5px 5px 0;
}
.product-container.info .card .buttons {
  display: flex;
  justify-content: flex-end;
}
.product-container.info .card .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.product-container.info .card .buttons-container .button-box {
  width: 48%;
}
.product-container.info .card .buttons-container .button-box .btn {
  border: 1px solid #FF3D00;
  padding: 10px 0;
}

section.description {
  padding: 40px 0;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}
section.description .desc-container {
  width: 60%;
  margin: 0 auto;
}
section.description .desc-container .container {
  width: 50%;
  margin: 0 auto;
}
section.description .desc-container .container .tab {
  cursor: pointer;
  transition: 0.4s;
}
section.description .desc-container .container .tab:hover, section.description .desc-container .container .tab.active {
  color: #FF3D00;
  transition: 0.4s;
}
section.description .desc-container .content .tab-content {
  display: none;
  text-align: center;
}
section.description .desc-container .content .tab-content.active {
  margin-top: 20px;
  display: block;
}

/*# sourceMappingURL=style.css.map */
